.background {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/skyBackground.jpg);
  background-position: center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  gap: 3rem;
  height: 100vh;
}

.backdrop {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(255, 255, 255, 0.806);
}

.main p {
  color: #355982;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: #e6fcfc;
  font-size: 1.25rem;
}

/* -------------- BUTTONS --------------------- */

.mainBtn {
  text-align: center;
  text-justify: center;
  font: inherit;
  border: 1px solid #355982;
  border-radius: 0.25rem;
  background: #355982;
  color: white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.mainBtn:hover {
  background: #436fa2;
  border-color: #355982;
  transition: 500ms;
}

.mainBtn:focus {
  outline: none;
}

.mainBtn:active {
  background: #436fa2;
  transform: scale(90%);
  transition: ease-in-out;
}
