.mainCard {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 40px 32px;
  background: #d3dfec;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #00000026;
  position: relative;
}
